<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="node_modules/common/base.css">
		<link rel="stylesheet" href="node_modules/app-css/index.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body ng-app="mainApp">
		<ng-view />

		<script type="text/ng-template" id="index.html">
			<section id="todoapp">
				<header id="header">
				<h1><b>NEWS</b></h1>
				</header>
				<section id="main" ng-show="showNews" ng-cloak>
					<ul id="news-list">
						<li>
							<div class="view">
								<div>
									<label>New</label>
								</div>
								<div>
									<label>Description of the new from the title upside</label>
								</div>
								<div>
									<label>Francesco Virgolini</label>
								</div>
								<button class="destroy" ng-click="removeTodo(todo)">Archive</button>
							</div>
						</li>
						<li>
							<div class="view">
								<div>
									<label>New</label>
								</div>
								<div>
									<label>Description of the new from the title upside</label>
								</div>
								<div>
									<label>Francesco Virgolini</label>
								</div>
								<button class="destroy" ng-click="removeTodo(todo)">Archive</button>
							</div>
						</li>
						<li>
							<div class="view">
								<div>
									<label>New</label>
								</div>
								<div>
									<label>Description of the new from the title upside</label>
								</div>
								<div>
									<label>Francesco Virgolini</label>
								</div>
								<button class="destroy" ng-click="removeTodo(todo)">Archive</button>
							</div>
						</li>
					</ul>
					<ul id="news-list">
						<li ng-repeat="new in news">
							<div class="view">
								<div>
									<label>{{new.title}}</label>
								</div>
								<div>
									<label>{{new.description}}</label>
								</div>
								<div>
									<label>{{new.author}}</label>
								</div>
								<button class="destroy" ng-click="archiveNew(todo)"></button>
							</div>
						</li>
					</ul>
				</section>
			</section>

		</script>
		<script src="node_modules/common/base.js"></script>
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-route/angular-route.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/mainCtrl.js"></script>
		<script src="js/services/mainStorage.js"></script>
		<script src="js/directives/mainFocus.js"></script>
		<script src="js/directives/mainEscape.js"></script>
	</body>
</html>
