<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="node_modules/app-css/index.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body ng-app="mainApp">
		<ng-view />

		<script type="text/ng-template" id="index.html">
			<section id="newsapp">
				<header id="header" ng-show="showNews">
					<h1><b>NEWS</b></h1>
					<h3 ng-click="showNews=!showNews"><b>ARCHIVED</b></h3>
				</header>
				<header id="header" ng-show="!showNews">
					<h1><b>ARCHIVED</b></h1>
					<h3 ng-click="showNews=!showNews"><b>NEWS</b></h3>
				</header>
				<section id="main" ng-cloak>
					<ul id="news-list" ng-show="showNews" ng-init="loadNews()">
						<li ng-repeat="new in news | orderBy: '-date'">
							<div class="view">
								<div class="title">
									<label>{{new.title}}</label>
								</div>
								<div class="description">
									<label>{{new.description}}</label>
								</div>
								<div class="author">
									<label class="author">{{new.author}}  | {{new.date.slice(0,10)}}</label>
								</div>
								<button class="destroy" ng-click="archiveNew(new)">Archive</button>
							</div>
						</li>
					</ul>
					<ul id="news-list" ng-show="!showNews" ng-init="loadArchivated()">
						<li ng-repeat="new in archivated | orderBy: '-archiveDate'">
							<div class="view">
								<div class="title">
									<label>{{new.title}}</label>
								</div>
								<div class="description">
									<label>{{new.description}}</label>
								</div>
								<div class="author">
									<label class="author">{{new.author}} | {{new.date.slice(0,10)}} | {{new.archiveDate.slice(0,10)}}</label>
								</div>
								<button class="destroy" ng-click="deleteNew(new)">Delete</button>
							</div>
						</li>
					</ul>
				</section>
				<!--
					<button class="insert">Add new</button>
					<section>
						<form>
							<input>
						</form>
					</section>
				-->
			</section>

		</script>
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-route/angular-route.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers/mainCtrl.js"></script>
		<script src="js/services/mainStorage.js"></script>
	</body>
</html>
